.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .hamburger-menu {
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .youtube-logo {
    height: 20px;
  }
  
  .right-section {
    flex: 1;
    max-width: 200px;
    display: flex;
    align-items: center;
  }
  
  .upload-button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    font-family: Roboto, Arial;
    font-size: 14px;
    border: none;
    font-weight: 500;
    line-height: 27px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  
  .upload-icon {
    height: 25px;
    margin-right: 10px;
  }
  
  .apps-button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    font-family: Roboto, Arial;
    font-size: 14px;
    border: none;
    font-weight: 500;
    line-height: 27px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  
  .apps-icon {
    height: 25px;
    margin-right: 10px;
  }
  
  
  
  .notifications-button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    font-family: Roboto, Arial;
    font-size: 14px;
    border: none;
    font-weight: 500;
    line-height: 27px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  
  .notifications-icon {
    height: 25px;
    margin-right: 10px;
  }
  
  .account-button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    font-family: Roboto, Arial;
    font-size: 14px;
    border: none;
    font-weight: 500;
    line-height: 27px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  
  .account-icon {
    height: 35px;
    margin-right: 10px;
  }
  
  .middle-section {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 70px;
    max-width: 500px;
  }
  
  .search-button {
    height: 40px;
    width: 60px;
    backgroud-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
  }
  
  .search-icon {
    height: 25px;
    margin-top: 4px;
  }
  
  .voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
  }
  
  .voice-search-icon {
    height: 24px;
    margin-top: 4px;
    background-color: rgb(245, 245, 245);
  }
  
  .search-bar {
    flex: 1;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    font-size: 16px;
    border: 1px solid #d3d3d3;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
  }
  
  .search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
  }